.beer-index {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 10px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.24);

    
}

.beer-index-item {
    padding: 15px;
    height: 120px; 
    border-bottom: 1px solid goldenrod
}

.beer-index-item h3:hover {
    color: rgb(228, 141, 28);
    font-weight: bolder;
}

.beer-thumbnail {
    display: block;
    float: left;
    width: auto;
    height: 120px;
    width: 100px;
    object-fit: cover;
    overflow: hidden;
    padding: 10px;
    padding-right: 25px;

}

.beer-form {
    display: flex;
    flex-direction: column; 
    width: 600px;
    padding: 10px;
    border: 1px solid goldenrod;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}

.beer-form label {
	display: flex; 
	margin-top: 10px;
	margin-bottom: 5px;
	color: rgb(0, 0, 0);

}

.beer-show {
    display: flex;
    flex-direction: row; 
    width: 800px;
    padding: 10px;
    border: 1px solid goldenrod;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}
.beer-show-info {
    display: flex;
    flex-direction: column;
}

.create-beer-p {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.create-review-button {
    display: flex;
    padding: 10px;
    justify-content: center;
    margin-top: 30px;

}

.bold {
    font-weight: 800;
    padding-right: 5px;
    
}