.nav-hidden *  {
    display: none;
}

.nav-not-hidden  {
    display:block;
    position: fixed;
    width: 100%;

    top: 0;
    left: 0;
    background-color: orange;
}


.dropdown-menu{
    display: flex;
    flex-direction: column;
    float: right;
    margin-right: 100px;
}



.profile-thumbnail{
    width: 45px; 
    height: 45px;
    padding: 5px;

}
.profile-thumbnail:hover{
    background-color: rgb(202, 90, 46);
    border-radius: 3px;

}

.dropdown-display{
    position: absolute;
    margin-top: 55px;
    background-color: rgb(202, 90, 46);
    border-radius: 5px;

}

.dropdown-item {
    display: block;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    color: rgb(253, 253, 253);
    border-top: 1px solid rgb(170, 75, 41);
    border-bottom: 1px solid rgb(170, 75, 41);
    
}

.dropdown-item:hover {
    background-color: rgb(53, 43, 24);
    color: rgb(243, 233, 233);
}
