.review-index {
    display: block;
    width: 600px;
    padding: 10px;
}

.review-index-item {
    right: 0;
    padding: 15px;
    height: auto;
    border-bottom: 1px solid goldenrod
}

.review-index-item h3:hover {
    color: rgb(228, 141, 28);
    font-weight: bolder;
}

.review-thumbnail {
    display: block;

    width: 150;
    height: 100px;
    object-fit: cover;
    padding: 10px
}
