.review-index {
    display: block;
    width: 600px;
    padding: 10px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.24);
}

.review-index-item {
    display: flex;
    flex-direction: row;
    right: 0;
    padding: 15px;
    height: auto;
    border-bottom: 1px solid goldenrod
}

.review-index-item li {
    padding-bottom: 15px;
}

.review-index-item h3:hover {
    color: rgb(228, 141, 28);
    font-weight: bolder;
}

.review-thumbnail {
    display: block;

    width: 150;
    height: 100px;
    object-fit: cover;
    padding: 10px
}

.rating{
    display: flex; 
    position: relative; 
    width: 200px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.rating input {
   display: none;
}

.rating > label {
    width: 30px; 
    height: 30px; 
    font-family: Arial;
    font-size: 30px;
    transition: 0.2s ease;
    color: goldenrod;
   
  
}

.rating label:hover {
    color: rgb(218, 199, 91);
    transition: 0.2s ease;
}

.rating label::before {
    content: '\2606';
    position: absolute;
    top: 0px;
    line-height: 26px;
}

.rating input:checked ~ label:before {
    content: '\2605'
}


.delete-button{
    color: grey;
    padding: 3px;
    
}
.delete-button:hover{
    color: rgb(112, 18, 18);
    border-radius: 3px;
    background-color: rgb(203, 195, 195);
    cursor: pointer;
}
