.review-index {
    display: block;
    width: 600px;
    padding: 10px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.24);
}

.review-index-item {
    display: flex;
    flex-direction: row;
    right: 0;
    padding: 15px;
    height: auto;
    border-bottom: 1px solid goldenrod
}

.review-index-item li {
    padding-bottom: 15px;
}

.review-index-item h3:hover {
    color: rgb(228, 141, 28);
    font-weight: bolder;
}

.review-thumbnail {
    display: block;

    width: 150;
    height: 100px;
    object-fit: cover;
    padding: 10px
}
