.session-form {
    display: flex;
    flex-direction: column; 
    // justify-content: space-between;

}

.session-form label {
	display: flex;
	width: 100px;
	margin-top: 10px;
	margin-bottom: 5px;
	color: rgb(0, 0, 0);

}

.session-modal {
	width: 300px;
	z-index: 1;
	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, 0.89);
	border-radius: 10px;
	padding: 10px;

}
// .session-modal > form {
// 	// position: flex;
// 	// // align-items: center;
// 	// justify-content: space-between;
// }


.session-form button {
	background: rgb(66, 66, 66);
	border-color: rgb(141, 115, 36);
	color: white;
	margin-top: 5px;
	padding: 7px;
	margin-bottom: 10px;
}

.session-form button:hover {
	box-shadow: 7px 4px 4px rgba(110, 110, 110, 0.322);
	color:white;
}

.session-form button:active{
	background-color:rgb(218, 190, 35);
	color: black;

}


.login-signup-text-link {
	color: rgb(32, 31, 31);
	font-size: 15px;
	// justify-content: center;

}

#text-link {
	text-decoration: none;
	color:rgb(141, 115, 36);
	// padding: inherit;
	font-weight: bolder;
}

#text-link:hover {
	background-color:rgb(218, 190, 35);
	color: black;
	// padding: 5px;
	border-radius: 5px;
}
// .session-form button