.split-page {
    display: flex; 
    flex-direction: row;
    width: 100%;

}

.split-main {
    display: flex; 
    flex-direction: column;
    width: 60%;
    padding: 20px;
    margin-right: 20px;
    align-items: flex-end;
    border-radius: 16px;   


}

.split-right{
    display: flex; 
    flex-direction: column;
    width: 20%;
    height: auto;
    // position: fixed;
    // background-color: white;
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 16px;

}

.split-right ul {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: white;
    border-radius: 16px;
    justify-content: center;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.24);
    border: 1px solid goldenrod;
}
.split-right li {
 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.split-right img {
    display: block;
    margin: auto;
    height: 100px;
    width: 120px;
    object-fit: cover;
    overflow: hidden;
    padding: 10px;
    padding-right: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(114, 114, 114);
    margin-bottom: 5px;
   
}