.user-profile-content {
    width: 100%;
    display: flex; 
    flex-direction: row;
    border: 1px solid orange;
}


//////////// USER INFO

.profile-user-info {
    width: 35%;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.22);
    margin: 3px;
    border: 1px solid green;
}

.profile-name {
    text-align: center;
}

.profile-icons {
    display: flex; 
    flex-direction: row;
}

.profile-about-user {
    padding: 10px;

}

/////// REVIEWS

.profile-reviews-info {
    width: 45%;
    display: flex; 
    flex-direction: column;
    margin: 3px;
    border: 1px solid blue;
}


.profile-reviews-header {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;

}

.profile-reviews-list {
    padding: 10px
}

/////// FRIENDS


.profile-friends-info {
    width: 30%;
    display: flex; 
    flex-direction: column;
    margin: 3px;
    border: 1px solid red;
}

.profile-friends-header {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.profile-friends-dropdown-button {
    background-color: rgb(238, 157, 51);
    border-radius: 5px;

}

.profile-friends-dropdown-button:hover {
    background-color: rgb(202, 90, 46);
    color: white;  
}


.profile-friends-list {
    padding: 10px;
}